<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Categoria</h1>
    <form th:object="${categoria}" th:action="@{/dashboard/categorias/editar/{id}(id=${categoria.id})}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{nombreCategoria}" placeholder="nombre">
        <input type="text" th:field="*{descripcionCategoria}" placeholder="descripcion">
        <input type="hidden" th:field="*{estadoCategoria}">
        <input type="submit" value="Crear">
        <div th:if="${errors}">
            <ul>
                <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
            </ul>
        </div>
    </form>
</body>
</html>