<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estás en el Dashboard - <span th:text="${user}"></span></h1>
    <h2>Rol <span th:text="${roles}"></span></h2>
    <h2>Opciones:</h2>
    <ul>
        <li><a href="/dashboard/clientes">Clientes</a></li>
        <li><a href="/dashboard/empleados">Empleados</a></li>
        <li><a href="/dashboard/productos">Productos</a></li>
        <li><a href="/dashboard/categorias">Categorias</a></li>
    </ul>
    <a href="/logout">Cerrar sesión</a>
</body>
</html>